<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./../css/Autobiografia.css">
  <title>Document</title>
</head>
<body>
  <header>
    <nav class="menu">
      <a href="./Fotos.html">Fotos</a>
      <a href="./TextoResponsive.html">Texto Responsive</a>
    </nav>
  </header>
  <div id="wrapper">
    <article class="instructions">
      <h1>Eduardo César Henao Echeverri</h1>
      <section class="columns">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur error natus eos nulla, molestias, voluptatibus quae magnam necessitatibus obcaecati temporibus excepturi, a quia pariatur expedita enim dolores sit eius? Beatae!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, impedit est. Iste iusto neque nobis officia at rem voluptas corporis blanditiis? Molestiae nulla id suscipit a velit quos repellendus officia.</p>
      </section>
    </article>
    <img src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=764&q=80" srcset="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=764&q=80 1000w, https://images.unsplash.com/photo-1531746020798-e6953c6e8e04?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=764&q=80 500w">
  </div>
</body>
</html>