<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./../css/Fotos.css">
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav class="menu">
        <a href="./Fotos.html">Fotos</a>
        <a href="./TextoResponsive.html">Texto Responsive</a>
      </nav>
    </header>
    <div class="flex-container">
      <div class="tropical"></div>
      <div class="cold"></div>
      <div class="pnw"></div>
      <div class="desert"></div>
    </div>
  </body>
</html>
