<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./../css/TextoResponsive.css" />
    <title>Eduardo Cesar Henao Echeverri</title>
  </head>
  <body>
    <header>
      <nav class="menu">
        <a href="./Fotos.html">Fotos</a>
        <a href="./TextoResponsive.html">Texto Responsive</a>
      </nav>
    </header>
    <h2>
      Haz lo que sientas en tu corazón para estar bien, porque de todos modos
      serás criticado de cualquier forma. Serás condenado si lo haces, y
      condenado si no lo haces.
    </h2>
    <div class="example"><h1>Eduardo César Henao Echeverri</h1></div>
    <p>Tienes el poder de crear la vida de tus sueños.</p>
  </body>
</html>
